PUBLIC_PORT=3000
LOCAL_IP=172.16.105.101

DIFY_API_BASE=http://172.16.105.101:3001
DIFY_API_KEY=app-xxxxxxxxxxxxxxxxxxxxxx

PG_HOST=127.0.0.1
PG_PORT=5432
PG_DATABASE=postgres
PG_USER=postgres
PG_PASSWORD=Aa123456
PG_SCHEMA=dify1
FEEDBACK_ADMIN_TOKEN=Huawei@123


VITE_MIGRATE_DIFY_API_BASE=http://172.16.105.101:3001
VITE_SQLREWRITE_AUTHORIZATION_TOKEN=app-xxxxxxxxxxxxxxxxxxxxxx
VITE_CREATE_TESTCASE_AUTHORIZATION_TOKEN=app-xxxxxxxxxxxxxxxxxxxxxx
VITE_REGRESSION_VALIDATE_WORKFLOW_TOKEN=app-xxxxxxxxxxxxxxxxxxxxxx
VITE_REGRESSION_VALIDATE_STATUS_TOKEN=app-xxxxxxxxxxxxxxxxxxxxxx
